<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="author" href="https://plus.google.com/+sajayankaimal">
  <meta name="google-site-verification=jxV20Ys7x99GyF4IfH0n4untVKWQ_Qugpgg2iVufWh0">
 
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">

  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" media="screen">

  <link rel="alternate" type="application/rss+xml" title="Sajayan Kaimal" href="http://feeds.feedburner.com/SajayanKaimal">
  
  <!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->

</head>

<body class="{{ page.body }}">

{% include svg.html %}

<main>
  <button id="trigger-nav" class="btn-icon btn-trigger-nav"><svg class="icon-three-bars"><use xlink:href="#icon-three-bars"></use></svg></button>
  <aside class="main-sidebar" id="main-sidebar">
    <p class="about-sajayan">
      <a href="{{site.baseurl}}/"><strong>Sajayan Kaimal</strong></a> is a CRM Consultant and Solution Architect
    </p>
    <nav class="main-nav"> 
      <!--
      <a{% if page.path contains '_posts' or page.url == "/blog/index.html" or page.path contains "/page" %} class="selected"{% endif %} href="{{ site.baseurl }}/blog">
      <svg class="icon-align-left"><use xlink:href="#icon-align-left"></use></svg> <b>Blog</b></a>
      <a{% if page.url == "/portfolio/index.html" %} class="selected"{% endif %} href="{{ site.baseurl }}/portfolio"><svg class="icon-windows"><use xlink:href="#icon-windows"></use></svg> <b>Portfolio</b></a>
      <a{% if page.url == "/about/index.html" %} class="selected"{% endif %} href="{{ site.baseurl }}/about"><svg class="icon-user-outline"><use xlink:href="#icon-user-outline"></use></svg> <b>About Sajayan</b></a>
      <a{% if page.url == "/contact/index.html" %} class="selected"{% endif %} href="{{ site.baseurl }}/contact"><svg class="icon-bubble-3"><use xlink:href="#icon-bubble-3"></use></svg> <b>Contact</b></a>
      <a href="http://twitter.com/sajayan"><svg class="icon-twitter-alt"><use xlink:href="#icon-twitter-alt"></use></svg> <b>@sajayan</b></a>
      -->
      <a href="{{ site.baseurl }}/blog"><svg class="icon-align-left"><use xlink:href="#icon-align-left"></use></svg> <b>Blog</b></a>
      <a href="{{ site.baseurl }}/about"><svg class="icon-user-outline"><use xlink:href="#icon-user-outline"></use></svg> <b>About Sajayan</b></a>
      <a href="{{ site.baseurl }}/contact"><svg class="icon-bubble-3"><use xlink:href="#icon-bubble-3"></use></svg> <b>Contact</b></a>
      <a href="http://twitter.com/sajayan"><svg class="icon-twitter-alt"><use xlink:href="#icon-twitter-alt"></use></svg> <b>@sajayan</b></a>


    </nav>
   
  </aside>
  <div class="container" id="container">
    <article class="main-article" id="main-article">
