---
layout: default
comments: true
description: Posts about CRM and Technology in general
---
<p class="publisher"><img src="/img/sajayan-about.png"> By <a href="http://twitter.com/sajayan" rel="author">Sajayan Kaimal</a>, <pubdate>{{ page.date| date: "%B %Y" }}</pubdate> </p>
<h1>{{ page.title }}</h1>
<div class="post">
	<p><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a></p>
	{{ content }}
	<p><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a></p>
	<p>
	  {% if page.previous.url %} 
	    <a href="{{site.baseurl}}{{page.previous.url}}">&laquo; {{page.previous.title}}</a> 
	  {% endif %} 
	  {% if page.next.url %} 
	    <a href="{{site.baseurl}}{{page.next.url}}">{{page.next.title}} &raquo;</a> 
	  {% endif %} 
	</p>
</div>

<div class="post-subscribe">
    <h3>Subscribe to my Blog</h3>
    <form method="post" action="//sajayan.us15.list-manage.com/subscribe/post?u=2df4d7a2617e885c09a99a123&amp;id=6f73c41ef1" target="_blank">
      <input type="email" name="EMAIL" placeholder="Enter your email" id="mce-EMAIL" required>
      <button class="btn-primary">Subscribe</button>
    </form>
    <p>Please provide a valid email-id</p>
  </div>


<!-- jquery -->
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>

<!-- Subscribe popup -->

<div id="email-subscribe-floater" class="email-subscribe-floater">
    <form method="post" action="//sajayan.us15.list-manage.com/subscribe/post?u=2df4d7a2617e885c09a99a123&amp;id=6f73c41ef1" target="_blank">
        <label for="mce-EMAIL">Subscribe to Sajayan.com email Newsletter</label>
        <input type="email" name="MERGE0" placeholder="Enter your email" id="MERGE0" required class="js-floater-input input-sm">
        <button class="btn-primary btn-sm">Subscribe</button>
    </form>
    <div class=" subscribe-freebie">
        <p>Sajayan.com is my humple attempt to blog and share info,news and links about CRM and Technology, anything else I find interesting</p>  
        <p><a href="#" id="js-close-subscribe-floater">No thanks</a></p>
    </div>
</div>

<!-- Disqus comments -->

<div id="disqus_thread"></div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://www-sajayan-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
<!-- Twitter follow button -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
